* {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-wrap: wrap;
}
#main div {
    width: 20%;
    padding: 25px;
    position: relative;
}

#main img {
  max-width: 100%;

}

.productionYear {
    position: absolute;
    top: 0;
    bottom: 0;

}